[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ansible = "*"
ansible-runner = "*"
ansible-runner-http = "*"
openshift = "*"

[requires]
python_version = "3.7"

[scripts]
op  = "operator-sdk up local --namespace=uapi --watches-file=watches-dev.yaml"
#pipenv run ansible-playbook uiapi.yml --extra-vars='{"namespace": "uapi","ui": {"size": 1,"name": "ui","service_node_port": 30080,"api_url": "http://192.168.99.100:30081","image": "docker.io/dimssss/uapiui:latest"}, "api": {"size": 1, "name": "uiapi","service_node_port": 30081,"conf_secret_name": "uapisecret","image": "docker-registry.default.svc:5000/uapi/uapi:latest"},"db": { "host": "mongo", "name": "uapi"}}'



